# Python / IDE
__pycache__/
*.pyc
.vscode/
.DS_Store
# Surové a mezivýstupy
data/lstmf/

*.lstmf
*.box
*.tr
*.log

# Velké artefakty (standardně necommitovat)
models/out/
tessdata/*.traineddata
vendor/
langdata_lstm

# Ponecháme možnost výběru:
!tessdata/oriogo-starter.traineddata
!tessdata/oriogo*.traineddata
!tessdata/ces.traineddata